---
title: "Load a JSON"
author: "Puneet Thukral"
date: 2021-01-24T00:00:00-08:00
draft: false
---

In [1]:
import pandas as pd

In [2]:
#Set JSON filepath
json_filepath = "data/load_json_example.json"

In [3]:
#default is 'columns'
df = pd.read_json(json_filepath, orient="columns")
df

   user_name   identifier first_name last_name
0   booker12       9012.0     Rachel    Booker
1     grey07       2070.0      Laura      Grey
2  johnson81       4081.0      Craig   Johnson
3  jenkins46       9346.0       Mary   Jenkins
4    smith79       5079.0      Jamie     Smith
5                     NaN        NaN       NaN
6                     NaN        NaN       NaN